body{
  text-align:center;
  font-family:verdana;
  background-color:#FF8A65;
}

img {
  width:350px;
  height:350px;
}

.image-section {
  display: flex;
  justify-content:center;
}

.section-style {
   magin-left: 25px;
  margin-right:25px;
}

div {
  margin-top: 20px;
}

h1 {
  color: Black;
}
h4{
    color: Black;
}